label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}


button{
    border-radius: 0.5rem;
    padding: 0.2rem;
    margin: 0.2rem;
    background-color: rgb(170, 170, 243);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    transition-delay: 100ms;
}

button:hover{
    background-color: rgb(93, 200, 230);
    transition-delay: 100ms;
}

textarea{
    resize:none;
}

h1{
    text-align: center;
}

input[type='checkbox']{
    background-color: bisque;

}

input[type='checkbox']:checked{
    accent-color: rgb(108, 163, 230);

}

